.progressPage_container {
  display: flex;
  justify-content: space-around;
}

.personal {
  font-size: 20px !important;
  padding-bottom: 5px !important;
  font-weight: 400 !important;
}

.progressbar {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
}

.progressCount {
  justify-content: center !important;
  position: relative;
  display: flex;
  padding: 12px;
}

.Progress_div {
  display: flex;
  align-items: center;
  display: grid;
  grid-template-columns: 45px 1fr;
}

.Progress_div > p {
  padding: 12px 0;
  background-color: #dcdcdc;
  border-radius: 50%;
}
.Progress_div > div {
  height: 2px;
  width: 100%;
  background-color: #dcdcdc;
}
